# Android Studio / IntelliJ
/.idea/
/*.iml
*.iml

# Gradle
.gradle/
/build/
**/build/

# Local config
/local.properties
local.properties

# macOS
.DS_Store

# Native / CMake
.externalNativeBuild
.cxx

# Captures
/captures

# Others
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
